@charset "UTF-8";

:root{
  --branco: white;
  --azure: rgba(224, 253, 253, 0.836);
  --preto: black;
  --principal: #0296C5;
  --principal-escuro: #067495;
  --amarelo: #f7a800ce;
  --amarelo-hover: #faab00;
  --cinza: rgb(107, 106, 106);
  --destaque: #1d023be7;
  --cor1: #f6f6f6;
  --cor2: rgb(77, 158, 77);
  --cor3: #fff;
  --cor4: #eee;
  --cor5: rgba(131, 130, 130, 0.404);
  --cor6: green;
  --cor7: rgba(204, 204, 204, 0.363);
  --cor8: #37c980;
  --cor-letra1: white;
  --cor-letra2: #666;   
  
  --font-normal: 1em;
  --font-media: 1.3em;
  --font-titulo: 1.5em;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
  background-color: var(--azure);
}



/* CONTEUDO PRINCIPAL */
.principal {
  height: auto;
  width: 100vw;
}

#h1 {
  font-size: 1.2em;
  margin-left: 20px;
  color: var(--principal);
}

.titulo{  
  width: 100%;
}

.titulo > span{
  margin-left: 7%;
  color: var(--cor-letra2);
  font-weight: bold;
  font-size: var(--font-titulo);
}

main {
  background-color: var(--branco);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.103);
  max-width: 800px;
  min-width: 300px;
  display: inline-block;
  padding: 5px;
}

.info {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 100px;
  /* background-color: var(--branco);
  padding: 40px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.103);
  border-radius: 5px; */
}

h2 {
  color: var(--principal);
}

.dados {
  font-weight: bold;
  color: var(--principal);
}

img {
  vertical-align: middle;
}

#img {
  /* ICONES */
  margin: 10px;
  height: 30px;
  width: 30px;
}

button {
  /* BOTÃO EDITAR DADOS */
  display: flex;
  border: none;
  background-color: var(--principal);
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: var(--font-normal);
  /* font-weight: bold; */

}

button:hover {
  background-color: var(--principal-escuro);
}
.btn-amarelo{
  background-color: var(--amarelo);
}

.btn-amarelo:hover{
  background-color: var(--amarelo-hover);
}

#msgm {
  /* MENSAGEM ENDEREÇOS */
  color: #9e9e9e;
  font-size: larger;
  font-weight: bold;
  margin: 50px 0px 50px 0px;
}
/* FIM DO CONTEUDO PRINCIPAL */


.alert{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 25%;
  z-index:2;
  border-left: 10px solid var(--principal);
  left: -600px;
  background-color: var(--branco);
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
  transition: .5s;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.089);

}

#alert2{
  overflow: hidden;
  white-space: nowrap;
}

.tempo{
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--principal);
  bottom: 0;
  left: 0;
  /* animation-duration: 5s;
  animation-name: time; */
  animation: forwards 5s time;
}

.bx-error{
  color: red;
  font-size: 1.5em;
}

.linha-alert{
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}


@keyframes time {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes diminui {
  from{
    width: 23%;
  }
  to{
    width: 40px;
    }
}



















/* aqui é a pagina add-enderecos.html */
.quadrado{
  width: 85vw;
  background-color: var(--branco);
  padding: 10px 30px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.089);

  
}

.select-endereco{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}


/* selecionar o endereço dps de salvo */
.select-adress {
  padding: 10px;
  border: 1px solid var(--cinza);
  border-radius: 7px;
  width: 90vw;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  overflow: hidden; 
  
}

.radio {
  display: none;
}

.select-endereco > label{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nome-endereco{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%; 
  padding: 10px;
  font-size: 100%;
}

/* p{
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  background-color: #067495;
} */

.select-adress > label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--cinza);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

/* div.select-adress > input[type="radio"]:checked ~ div#selected {
  display: none;
} */

.radio:checked + .select-adress > label {
  border: 1px solid var(--principal);
  transition: 0.5s;
}

.radio:checked + .select-adress > label > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--principal);
  transition: 0.2s;
  margin: 0;
  padding: 0;
  
}

.radio:checked + .select-adress {
  border: 1px solid var(--principal);
  transition: 0.1s;
  /* background-color: #37c980; */
}

/* editar e apagar emdereço */
.edt-adress {
  width: 10%;
  min-width: 100px;
  font-size: 35px;
  font-weight: 600px;
  color: var(--principal);
  display: flex;
  justify-content: space-around;
  align-items: center;
}



/* div que engloba os botões de salvar e cancelar */

.salvar-adress {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  /* background-color: #37c980; */
}






.adicionar-enderecos {
  /* background-color: #0097b2; */
  width: 85vw;
  /* display: block; */
  background-color: var(--branco);
  padding: 5px 30px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.089);

}

#div-enderecos {
  display: block;
  margin: 20px auto;
}

.linha {
  display: flex;
}

.text-box {
  margin: 30px 30px 0 0;
  position: relative;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
}

/* .text-box:last-child{
  margin-right: 0;
} */

.input-enderecos,
.input-enderecos-no-reqired {
  margin: 0;
  padding: 15px;
  transition: 0.5s;
  outline: none;
  border: 1px solid var(--cinza);
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  border-radius: 10px;
  /* color: var(--principal); */
}

.input-enderecos-no-reqired::placeholder {
  color: transparent;
}

.input-enderecos::-webkit-outer-spin-button,
.input-enderecos::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-box > label {
  position: absolute;
  color: var(--cinza);
  background-color: transparent;
  transition: 0.5s;
  font-size: var(--font-media);
  padding: 10px;
  cursor: pointer;
  width: 80%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  }


.input-enderecos:valid + label,
.input-enderecos:focus + label {
  transform: translateX(10px) translateY(-25px);
  font-size: 1em;
  background-color: var(--branco);
  padding: 5px;
  color: var(--principal);
  width: auto;
}

.input-enderecos-no-reqired:not(:placeholder-shown) + label,
.input-enderecos-no-reqired:focus + label {
  transform: translateX(10px) translateY(-25px);
  font-size: 1em;
  background-color: var(--branco);
  padding: 5px;
  color: var(--principal);
  width: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
  color: var(--principal) !important;
}

.opcional{
  position: absolute;
  background-color: var(--branco);
  padding: 5px;
  display: none;
}

.input-enderecos-no-reqired:not(:placeholder-shown) + label > .opcional,
.input-enderecos-no-reqired:focus + label > .opcional{
  display: flex;
  font-size: 75%;
  transform: translateX(10px) translateY(50px);
}

.input-enderecos:valid,
.input-enderecos:focus,
.input-enderecos-no-reqired:not(:placeholder-shown),
.input-enderecos-no-reqired:focus {
  border: 1px solid var(--principal);
  /* color: var(--principal); */
  background-color: transparent;
  font-size: 1em;
}

.add-endereco-div {
  display: flex;
  justify-content: end;
  margin: 30px;
  gap: 20px;

}



.none-a{
  text-decoration: none;
  color: var(--principal);
  background-color: transparent;
  border: none;
}

.none {
  /* BOTÃO EDITAR DADOS */
  text-decoration: none;
  display: flex;
  border: none;
  background-color: var(--principal);
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.none:hover {
  background-color: var(--principal-escuro);
}

#cancelar{
  text-decoration: none;
  display: flex;
  border: none;
  background-color: var(--principal);
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

#cancelar:hover {
  background-color: var(--principal-escuro);
}
