@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Nunito+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root{
  --branco: white;
  --azure: rgba(224, 253, 253, 0.836);
  --preto: black;
  --principal: #0296C5;
  --principal-escuro: #067495;
  --amarelo: #f7a800ce;
  --amarelo-claro: #ffc23f;
  --amarelo-hover: #e69d00;
  --cinza: rgb(107, 106, 106);
  --cinza-claro: #ccc;




  --font-normal: 1em;
  --font-media: 1.3em;
  --font-titulo: 1.5em;
}

html{
  overflow-x: hidden;
}

body:has(.hero) > header{
  margin-bottom: 0;
}


header{  /* CABEÇALHO */
    background-color: var(--principal);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.089);
    position: sticky;
    top: 0px;
    z-index: 5;
    height: 13vh;
    width: 100vw;
    margin-bottom: 20px;
  }
  
  .nav-header{   /* CONTEUDO DO CABEÇALHO */ 
    position: relative;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    height: 100%;
  }
  
  .logo {
    font-family:'Carter One', cursive;
    font-size: 3rem;
    text-decoration: none;
    color: var(--branco);
    margin-left: 5%;
  }
  
  .logo::after{
    content: "XistoPet";
  }
  
  
  img{ 
    vertical-align: middle;
  }
  
  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 40%;
  }
   
  .input-pesquisa {
    width: 100%;
    height: 35px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
  }
  
  .input-pesquisa::placeholder {
    color: #9e9ea7;
  }
  
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }
      
  /* BARRA DE PESQUISA */
  
  #burguer {
    /* BOTAO RESPONSIVO MENU */
    cursor: pointer;
  }
  
  /* LINK DAS OUTRAS TELAS */
  
  .nav-list{
    display: flex;
    gap: 50px;
    margin-right: 50px;
  }
  
  .nav-list > a > i{
    color: var(--branco);
    font-size: 2.2rem;
    position: relative;
  }
  /* FIM DOS LINKS */  
  

  /* Notificações */
  

.ball-notifi{
  position: absolute;
  background-color: red;
  width: 20px;
  height: 20px;
  transform: translate(100%, -200%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num-notifi{
  font-size: 13px;
  padding-bottom: 5px;

}


.notificacao{
  position: absolute;
  width: 25vw;
  max-height: 50vh;
  background-color: var(--branco);
  border-radius: 5px;
  right: -600px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.089);
  transition: .5s;
  display: flex;
  flex-direction: column;

  gap: 20px;
  overflow: auto;
  overflow-x: hidden;
  /* margin-top: 100px; */
}

.container-notificacoes{

  display: block;
  width: 100%;
  height: 100%;
}

.linha-notificacoes{
  top: 0;
  height: 20%;
  width: 90%;
  margin: 10px auto 10px auto;
  border-bottom: 1px solid var(--cinza-claro);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.linha-notificacoes:last-of-type{
  border: none;
}


.content-notifi{
  width: 100%;
  display: flex;
  flex-direction: column;

  height: 90%;
}

.produto-notifi{
  width: 20%;
  height: 80%;
}

.titulo-data-notifi{
  display: flex;
  justify-content: space-between;
  /* align-items: start; */
  width: 100%;
  height: 1.5em;
  /* background-color: #0296C5; */
}

.titulo-notifi{
  font-size: 12px;
  color: var(--cinza);
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em;
  max-height: 1.4em;
  padding: 0 0 10px 0;
}

.data-notifi{
  font-size: 12px;
  color: var(--cinza);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.texto-notifi{
  color: var(--cinza);
  font-size: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 3em;
}




.link-notificacao{
  text-decoration: none;
  color: var(--cinza);
  /* padding: 10px; */
}

.link-notificacao:hover{
  color: var(--principal);
}


.sem-notificacao{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  color: var(--cinza);
}

.notifi-vazio{
  height: 50px;
  width: 50px;
}

.imagem-notificacao-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 14%;
  max-width: 14%;
  max-height: 5vh;
  min-height: 5vh;


}

.imagem-notificacao-header > .bx-check-circle{
  font-size: 3em;
  color: rgb(10, 213, 10);
}

.imagem-notificacao-header > .bx-accessibility{
  font-size: 3em;
  color: var(--principal);
}

.imagem-notificacao-header > .bxs-flag-checkered{
  font-size: 3em;
  color: var(--principal);
}

.imagem-notificacao-header > .bx-run{
  font-size: 3em;
  color: red;
  display: flex;
  flex-direction: row-reverse;
  transform: scaleX(-1);  
}

.imagem-notificacao-header > .bxs-star{
  font-size: 3em;
  color: var(--amarelo);
}


/* Regras com webkit */
.no-select {
  -webkit-user-select:none;  
  -moz-user-select:none;     
  -ms-user-select:none;      
  user-select:none;  
} 

.no-select-img {
  -webkit-user-select:none;  
  -moz-user-select:none;     
  -ms-user-select:none;      
  user-select:none;  
  pointer-events: none;
} 

::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}


::-webkit-scrollbar-thumb{
  width: 5px;
  background-color: var(--amarelo);
  border-radius: 10px;
}


/* Footer */
.footer{
  width: 100%;
  background-color: var(--principal);
  display: flex;
  flex-direction: column;
  position: static;
  padding-top: 30px;
  margin-top: 30px;
}

.footer-container{
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  /* gap: 5%; */
  color: var(--branco);
  width: 100%;
  margin: auto;
}

.logo-footer {
  font-family:'Carter One', cursive;
  font-size: 3em;
  text-decoration: none;
  color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  
}

.logo-footer::after{
  content: "XistoPet";
}

.footer-linha{
  display: flex;
  width: 100%;
  gap: 2%;
  color: var(--branco);
  margin: auto;
  flex-wrap: nowrap;
}

.footer-coll{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-left: 5%; */
}

.footer-flex{
  display: flex;
  width: 60%;
  gap: 20%;
}

.footer-flex-direitos{
  display: flex;
  width: 100%;
  justify-content: center;
  
}



.footer-titulo, .footer-titulo-center, .footer-titulo-mapa-site{
  font-size: 1.5em;
  font-weight: bold;
  color: var(--amarelo-claro);
}

.footer-titulo-center{
  text-align: center;
}

.footer-subtitulo{
  font-size: var(--font-normal);
  width: 100%;
  white-space: nowrap;
}

.footer-texto{
  font-size: 1em;
  margin-top: 10px;
  text-decoration: none;
  color: var(--branco);
  width: auto;
}

a.footer-texto:hover{
  text-decoration: underline;
}

.footer-redes{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 10%;
  margin-top: 20px;
}

.footer-social-midia{
  font-size: 2.5em;
  color: var(--branco);
}

.footer-contato{
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.footer-subtitulo{
  font-size: 1.2em;
}



.footer-metodos{
  display: flex;
  gap: 5%;
  width: 95%;
  margin: auto auto auto 10%;
}

.footer-metodo-pagamento{
  width: 40%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  gap: 10%;
 
}

.footer-div-bandeiras{
  width: 70vw;
  /* background-color: #1c11f1; */
  height: 5vh;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

.footer-img-bandeiras{
  width: 30%;
  margin-left: -1.7%;
}





.footer-direitos{
  width: 100%;
  background-color: var(--principal-escuro);
  color: var(--cinza-claro);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  margin-top: 10px;
}












dialog::backdrop{
  background-color: transparent;
}

dialog{
  position: fixed;
  transform: translate(2.5%, 50%);
  background-color: white; 
  /* padding: 20px;  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
  border: 1px solid red;
  outline: none;
  width: 40%;
}

.div-erro{
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-erro{
  color: rgb(255, 65, 65);
  /* font-size: 2.5em; */
  padding: 4px;
  margin: 0;
}
.p-erro{
  font-size: 1.3em;
  padding-left: 5px;
}

.div-btn-erro{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.div-btn-erro > button{
  border: none;
  outline: none;
  padding: 10px;
  background-color: var(--amarelo);
  color: var(--branco);
  border-radius: 10px;
  width: 30%;
}

.div-btn-erro > button:hover{
  background-color: var(--amarelo-hover);
}
