@charset "UTF-8";

:root{
    --branco: white;
    --azure: rgba(224, 253, 253, 0.836);
    --preto: black;
    --principal: #0296C5;
    --principal-escuro: #067495;
    --amarelo: #f7a800ce;
    --amarelo-hover: #faab00;
    --cinza: rgb(107, 106, 106);
    --destaque: #1d023be7;
    --cor1: #f6f6f6;
    --cor2: rgb(77, 158, 77);
    --cor3: #fff;
    --cor4: #eee;
    --cor5: rgba(131, 130, 130, 0.404);
    --cor6: green;
    --cor7: rgba(204, 204, 204, 0.363);
    --cor8: #37c980;
    --cor-letra1: white;
    --cor-letra2: #666;    
}










/* PRODUTOS RELACIONADOS */
.relacionados{
    width: 95%;
    margin:  20px  auto auto auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .produtos-relacionados{  /* ESTILIZAÇÃO DAS DIVS DOS CAMPOS */
    width: 90%;
    /* background-color: var(--branco); */
    padding: 20px 20px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24);
    
  }
  
  .flex-relacionados{
    display: flex;
    overflow: hidden;
    /* position: relative; */
    width: 95%;
    margin: auto;
    padding-bottom: 10px;
  }

  .flex-relacionados::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
  
  .flex-relacionados::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .flex-relacionados::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .h2-relacionados{
    display: flex;
    margin: 50px;
    justify-content: center;
    color: rgba(0, 0, 0, 0.699);
  }
  
  .products{  /* DIV PRODUTOS */
    min-width: 15%;
    max-width: 15%;
    /* max-width: 100vw; */
    /* max-height: 90vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--branco);
    border: 1px solid rgba(0, 0, 0, 0.178);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    margin-right: 1.6em;
    padding: 15px;
    transition: 1s;
  }
  
  .products > p{
    font-size: 1em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 3em; /* 2 linhas * line-height */
  }

  .titulo{  
    width: 100%;
    margin-bottom: 10px;
  }
  
  .titulo > span{
    margin-left: 50px;
    color: var(--cor-letra2);
    font-weight: bold;
    font-size: var(--font-titulo);
  }
  
  .img-products{  /* DIV IMAGEM PRODUTOS */
    width: 120px;
    height: 120px;
    padding: 15px;
    margin: auto;
  }
  
  .img-products > img{   /* IMAGEM PRODUTOS */
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  
  .preco-flex{
    display: flex;
    font-size: small;
    margin-top: 10px;
  }

  .preco, .traco{     /* PREÇO PRODUTO */
    font-weight: bold;
    color: var(--principal);
    font-size: larger;
    margin: 0%;
  }

  .traco{
    padding: 0 5px;
  }
  
  .btn-adic{      /* BTN ADICIONAR AO CARRINHO*/
    display: flex;
    align-items: center;
    background-color: var(--amarelo);
    border: none;
    border-radius: 5px;
    /* padding: 8px; */
    width: 90%;
    margin: auto;
    justify-content: center;
    color: var(--branco);
  }
  
  .anterior-3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-10%, 500%);
    /* bottom: 50%; */
    left: 1%;
    width: 40px;
    height: 40px;
    border: 1px solid var(--principal);
    border-radius: 50%;
    font-size: xx-large;
    color: var(--principal);
  }
  
  .anterior-3:hover {
    background-color: var(--principal);
    color: var(--branco);
  }
  
  .proximo-3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(50%, 500%);
    right: 2%;
    width: 40px;
    height: 40px;
    border: 1px solid var(--principal);
    border-radius: 50%;
    font-size: xx-large;
    color: var(--principal);
  }
  
  .proximo-3:hover {
    background-color: var(--principal);
    color: var(--branco);
  }
  
  .anterior {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-10%, 500%);
    /* bottom: 50%; */
    left: 1%;
    width: 40px;
    height: 40px;
    border: 1px solid var(--principal);
    border-radius: 50%;
    font-size: xx-large;
    color: var(--principal);
  }
  
  .anterior:hover {
    background-color: var(--principal);
    color: var(--branco);
  }
  
  .proximo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(50%, 500%);
    right: 2%;
    width: 40px;
    height: 40px;
    border: 1px solid var(--principal);
    border-radius: 50%;
    font-size: xx-large;
    color: var(--principal);
  }
  
  .proximo:hover {
    background-color: var(--principal);
    color: var(--branco);
  }
  
  .bolinha{
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
  }
  
  .ball{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: var(--cor7);
  }
  
  .ativo{
    background-color: var(--principal);
    transition: .5s;
  }

  .nada{
    background-color: transparent;
    border: none;
    font-size: var(--font-normal);
    width: 100%;
    height: 100%;
  }
  
  .nada-branco{
    background-color: transparent;
    border: none;
    font-size: var(--font-normal);
    color: var(--branco);
    width: 100%;
    height: 100%;
  }
  
/* FIM DOS PRODUTOS RELACIONADOS */





::-webkit-scrollbar {
    background: none;
    /* height: 10px; */
    width: 0;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }






@media screen and (max-width: 800px){



    .relacionados{
        margin-top: 20px;
    }

    .flex-relacionados{
        overflow: auto;
    }

    .anterior, .proximo, .bolinha, .anterior-3 , .proximo-3{
        display: none;
    }

    .relacionados{
        margin-top: 20px;
    }
    .products{
        min-width: 50%;
    }

    .preco, .traco{
      font-size: 15px;
  }
}

