@charset "UTF-8";


@media screen and (max-width: 800px){

    body{
        height: 100vh;
    }

    header{
        margin-bottom: 5px;
    }

    .logo{
        font-size: 150%;
    }

    .titulo{
        order: 0;
    }

    .titulo > span{
        margin: 10px;
        font-size: 1.2rem;
    }
    
    .flex{
        width: 100%;
    }

    .formularios{
        order: 2;
        width: 100%;
        gap: 0%;
    }

    aside{
        max-width: 100%;
    }


    .info{
        max-width: 100%;
        border-radius: 0%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.308);
        box-shadow: none;
    }

    div.edt{
        display: block;
        font-size: 1.4rem;
    }

    .concluido{
        display: inline;
        max-width: 100%;
        border-radius: 0%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.308);
        box-shadow: none;
    }

    .titulo3{
         margin-bottom: 20px;
    }

    .select-endereco{
        max-width: 100%;
    }

    .select-adress{
        max-width: 80%;
    }

    div.edt-adress{
        max-width: 30%;
    }

    div.edt-adress > i{
        font-size: 60%;
    }
    

    .flex-pag{
        gap: 30px;
    }

    .resumo-compra{
        order: 1;
        display: flex;
        width: 100%;
    }

    .box{
        border-radius: 0%;
        box-shadow: none;
        border-top: 1px solid rgba(128, 128, 128, 0.308);
        border-bottom: 1px solid rgba(128, 128, 128, 0.308);
    }

    footer{
        margin-top: 20px;
    }

    footer > div > a{
        display: block;
        padding-top: 10px;
    }

    .btn{
        width: 100%;
    }

    #botao{
        width: 100%;
        transform: translate(0%, 100%);
        bottom: 0;
    }

    #confirm{
        width: 100%;
    }

    .metodo{
        padding-bottom: 20px;
    }


    .adc-cartao{
        margin-top: 0;
        margin-bottom: 10px;
    }
}

